.page-header-wrapper {
  height:40vh;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  margin-bottom: 20px;
}
.page-header-left {
  background-image:url(img/cool.jpg);
  background-size: cover;
  background-position: center;
  display:grid;
  align-items:center;
  position: absolute;
  width: 55vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}
.page-header-right {
  background-image: url(img/effect.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  display:grid;
  align-items:center;
  justify-items:center;
  color:#000;
  position: absolute;
  width: 50vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}
.page-header-right h1{
  font-size:2.8rem;
  font-weight: 1px;

}
.page-header-right-inner {
  display:grid;
  justify-items:center;
}
.page-header-links {
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap:1rem;
  grid-row-gap:1rem;
}
.page-header-wrapper .page-header-left:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.page-header-wrapper .page-header-left:after {
  content: "";
  right: 0px;
  position: absolute;
  z-index: 2;
  border-bottom: 50rem solid #fff;
  border-left: 10rem solid transparent;
  pointer-events: none;
}
.page-header-logo {
  max-width:70%;
  position:relative;
  left:5vw;
}
