

html { 
  overflow:auto;
  scrollbar-base-color:gold;
  overflow-x: hidden;
}
        
body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}


.section1{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
.section2{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
}

#map {
  text-align:center;
  width: 60%;
  height: 500px;
  left: 15%;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 50px;
}

#git {
  position: absolute;
  left: 45%;
  top: 300px;  
  background-color: #fff;
  padding: 10px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;  
}

#instagram {
  position: absolute;
  top: 300px;        
  left: 35%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;  
}

#linked {
  position: absolute;
  top: 300px;
  left: 25%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;  
}

.box{
  background-color: white;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}






