

html { 
  overflow:auto;
  scrollbar-base-color:gold;
  overflow-x: hidden;
  font-family: Montserrat;
}
        
body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}


.section1{
  float:left;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #f2f2f2;

}
.section2{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
}

#map {
  width: 60%;
  height: 80vh;
  border-radius: 25px;
  border-style: solid;
  border-width: 1.5px;
  margin-bottom: 50px;
}

#git {
  position: absolute;
  padding: 10px;
  left: 45%;
  background-color: #fff;
  float: left;
}

#instagram {
  position: absolute;
  padding: 10px;
  float:left;
  left: 35%;
  background-color: #fff;
}

#linked {
  position: absolute;
  left: 25%;
  padding: 10px;
  float:left;
  background-color: #fff;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.35); 



