

html { 
  overflow:auto;
  scrollbar-base-color:gold;
  overflow-x: hidden;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
}
        
body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  font-size: 26px; 
  font-weight: 70; 
  padding-top: 2vh;
  padding-left: 10%;
  float: left;
}

#landscape{
  height:70vh;
  position: absolute;
  top:12.5vh;
  left:0;
  width:100%;
}

.section1{
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

.section2{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
}

#map {
  width: 65%;
  height: 80vh;
  border-radius: 25px;
  border-style: solid;
  border-width: 1.5px;
  margin-bottom: 20px;
}

#git {
  position: absolute;
  padding: 1px;
  left: 45%;
}

#instagram {
  position: absolute;
  padding: 1px;
  left: 35%;
}

#linked {
  position: absolute;
  left: 25%;
  padding: 1px;
}

a{
  color: #878787;
  text-decoration: none;

}

a:hover {
  color: black;
}

.links{
  font-size:18px; 
  float: right; 
  margin-right: 15vw; 
  padding-top: 5.5vh; 
  display: inline-block;
}

.zoom {
  padding: 5px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.35); 
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/mygif.gif) center no-repeat #fff;
}

.videos {
  display: inline-block;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.shadow{
  -webkit-box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.54); 
  box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.54);
}

